#publicShareDiv {
    height: 250px;
}

#publicShareTable td {
    padding: 0.5em;
}

#publicShareTitleTr td {
    font-size: 1.5em;
    font-weight: bolder;
}

#linkInp {
    width: 300px;
}

#advanceLin {
    font-weight: bolder;
    text-decoration: underline;
}

#pwdTr {
    display: none;
}

#messSpan {
    font-size: small;
    background-color: #FFC100;
}
