/**
 * ownCloud - Compress plugin
 *
 * @author Charles Jiang & Colin Hsieh
 * @copyright 2012 www.u-sync.com
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 * Loaded if sharing plugin is not enabled
 *
 */

#convertJobDropdown {
	background: none repeat scroll 0 0 #EEE;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	box-shadow: 0 1px 1px #777777;
	display: block;
	margin-left: 12em;
	/* right: 0;*/
	padding: 1em;
	position: absolute;
	width: 22em;
	z-index: 100;
}

#loadingImg {
	/*padding: 1em;*/
}

#mediaConverterMessage {
	background-color: #FFFAAE;
	/*margin-left:1em;*/
}
