#mediaPlayerDiv {
	/*position: relative;*/
	width: 800px;
	height: 600px;
	text-align: center;
}

#loadingDiv {
	/*position: relative;*/
	padding-top: 300px;
	font-weight: bolder;
	font-size: 20px;
}

#loadingImg {
	width: 20px;
	height: 20px;
}
